.notification-wrapper {
	width: 30%;
	display: flex;
	flex-direction: column;
    padding: 30px;
    border-left: 1px solid;
}

.form {
	display: flex;
	flex-direction: column;

	label {
		font-size: 12px;
		margin-top: 10px;
	}

	input {
		padding: 5px;
		margin-top: 10px;
	}

	button {
		padding: 10px 15px;
		background-color: #00a300;
		color: #fff;
		font-size: 15px;
		font-weight: 500;
		margin-top: 10px;
        border-radius: 5px;
        border: #00a300;
	}
}
