.board-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-btn {
    text-align: center;
    padding: 20px 50px;
    border-radius: 10px;
    background: #2E2EFF;
    border-color: #2E2EFF;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}