.board-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.board {
  position: relative;
  top: 5px;
  display: flex;
    margin: 0 5px;
}

.card {
  width: 65px;
//   height: 150px;
  margin: 1px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

// .card.active {
//   transform: translateX(0);
// }

// .card:not(.active) {
//   position: absolute;
//   transform: translateX(-100%);
// }

.joker-card {
  border: 1px solid rgb(214, 43, 43);
  border-radius: 4px;
}

.start-btn {
  text-align: center;
  padding: 20px 50px;
  border-radius: 10px;
  background: #2e2eff;
  border-color: #2e2eff;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
