.App {
  width: 100%;
  display: flex;
  background-color: #B2D2A4;;
}

.logo-img-wrapper {
  display: flex;
  margin: 20px 0 30px 0;
}

.logo-img-wrapper img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.game-name {
  font-size: 70px;
  font-weight: 900;
  font-family: 'Ewert', cursive;
  margin: auto;
}

.field {
  width: 65.8%;
  height: 100%;
  display: flex;
  flex-direction: column;
}